<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<title>Movies Near Me</title>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet' href='styles.css'>
</head>
<body class='container'>

<h1>Movies Near Me</h1>

<div id='app'>
  <div class='location'>{{ location }}</div>
  <div class='status'>{{ status }}</div>
  <div class='movies' v-for='movie in movies'>
    <div class='movie'>
      <img v-if='movie.poster' v-bind:src='movie.poster' height='100'>
      <span v-else class='glyphicon glyphicon-repeat spinner'></span>

      <strong>{{ movie.title }}</strong>,
      <span v-if='movie.rating !== null' class='rating'>rating: {{ movie.rating.toFixed(1) }},</span>
      next showtime: {{ movie.showtime.time }} at {{ movie.showtime.venue }}
    </div>
  </div>
</div>

<script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/co/4.1.0/index.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js'></script>
<script src='client.js'></script>
</body>
</html>
