.location, .status, progress {
  margin-bottom: 1rem;
}

progress {
  width: 100%;
}

.movie {
  margin-bottom: 0.5rem;
}

.rating {
  background-color: papayawhip;
}

.spinner {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
